<div class="wrapper">
  <div class="sidebar">
    <p class="logoleft">afm</p>
    <p class="logo">encargos</p>
    <ul>
      <li>
        <a href="#">
          <span class="icon"><i class="pi pi-upload"></i></span>
          <span class="item">Documentos</span>
        </a>
      </li>
      <li>
        <a href="#" class="active">
          <span class="icon"><i class="pi pi-users"></i></span>
          <span class="item">Funcionários</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><i class="pi pi-th-large"></i></span>
          <span class="item">Dashboards</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><i class="pi pi-chart-bar"></i></span>
          <span class="item">Relatórios</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><i class="pi pi-link"></i></span>
          <span class="item">Contratos Vinculados</span>
        </a>
      </li>
      <hr color="#0AA7C3" class="solid">
      <li>
        <a href="#">
          <span class="icon"><i class="pi pi-file"></i></span>
          <span class="item">Contratos</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><i class="pi pi-cog"></i></span>
          <span class="item">Configurações</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="content">
    <h4 class="func">Funcionários</h4>
    <div class="content-container">
      <router-outlet></router-outlet>
      <div class="info">
        <span class="icon"><i class="pi pi-angle-left"></i></span>
        <span class="item">Dados do funcionário</span>
      </div>
      <nav class="slidemenu">
        <label for="slide-item-1"><span>Informações</span></label>
        <label for="slide-item-2"><span>Contratos</span></label>
        <label for="slide-item-3"><span>Documentos</span></label>
        <div class="slider">
          <div class="bar"></div>
        </div>
      </nav>
      <div class="modal-box">
        <a href="#abrirModal">Open Modal</a>
        <div id="abrirModal" class="modal">
          <a href="#fechar" title="Fechar" class="fechar">x</a>
          <h2>Janela Modal</h2>
          <p>Esta é uma simples janela de modal.</p>
          <p>Você pode fazer qualquer coisa aqui</p>
        </div>
      </div>
    </div>
  </div>
</div>
